<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/producto.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let producto of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= producto.nombreproducto %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%=producto.urlImagen %>"
                                alt="<%= producto.nombreproducto %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">S/ <%= producto.precio %></h2>
                            <p class="product__description"><%= producto.descripcion %></p>
                        </div>
                        <div class="card__actions">
                            
                            <form action="/agregar-al-carrito" method="POST">
                                <button class="btn">Agregar al Carrito</button>
                            </form>    
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No hay productos</h1>
        <% } %>

    </main>
    
<%- include('../includes/end.ejs') %>